// Josefin Sans!!!!
@font-face {
  font-family: 'Josefin Sans';
  src: url('@/assets/fonts/Josefin Sans/JosefinSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('@/assets/fonts/Josefin Sans/JosefinSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Qanelas Soft!!!!
@font-face {
  font-family: 'Qanelas Soft';
  src: url('@/assets/fonts/Qanelas Soft/Qanelas-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}